
$header-background: #7a7a7a26;
$black: black;
$Clookwhite-background:#FFFFFf;
$border-input-color: #7a7a7a;
$buttonenviar-background: #0c70f2;
$border_card-background:#b7b7b7;
$button-backgraund: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
linear-gradient(0deg, #0C70F2, #0C70F2);






